	<head>
	<title>login_Admin</title>
</head>
{% extends 'firstapp/index.html' %}

user_registrastion
{% block content %}
{% load staticfiles %}

<body class="content">
<!-- <h1>login_user</h1> -->

<form action="" method="POST">
 {% csrf_token %} 


		 	<center><h1 style="padding: 02px;">ADMIN Log In</h1></center>
		 
						<div class="">
						<h2>Username </h2>
						<input type="text" placeholder="EmailId" name="txtemail" class=""></div>
						
					
					
					<div class=""  >
						
						<h2>Password </h2>
						<input type="password" placeholder="password"  name="txtpassword" class=""></div>
						
					
					
					<div >
					<center><input type="submit" name="" value="Log In" ><span >&nbsp;&nbsp;&nbsp;</span><input type="button" name="" value="cancel" ></center></div>
					
					<div  ><h5>New User <a href="/admin-registration/">SignUp Here</a></h5><center>
					</center></div>
		
			


</form>
</body>

{% endblock %}