
{% extends 'firstapp/index.html' %}

{% load static %}
{% block content %}
<head>
	<title>User Edit </title>

<a href="/user-dashboard/">Back</a>
	<center>
<h1>User Edit </h1>


	<form action="" method="POST">
 {% csrf_token %} 

 		{% for user_first_name , user_last_name ,user_email,user_pass,user_add,user_mobile,userID,pic in record%}

		 	<section  style="padding: 10%;" class="info-form-ke-uperwala">
				<br>
		<center>
			<div 	style="border:2px solid red; " >
			<h1 >Edit the data</h1><br>

			<table cellspacing="10" cellpadding="10" border="0" class="tbl-content" >
			<tr>
				<th>Firstname</th>
				<td>:</td>
				<td><input class="form-control" type="text" placeholder="{{user_first_name}}"  value="{{user_first_name}}" name="txtfirstname"></td>
			</tr>	
			<tr>
				<th>Lastname</th>
				<td>:</td>
				<td><input class="form-control" type="text" placeholder="{{user_last_name}}" value="{{user_last_name}}" name="txtlastname"></td>
			</tr>
			
			
			<tr>
				<th>Mobile</th>
				<td>:</td>
				<td><input class="form-control" type="number" placeholder="{{user_mobile}}" value="{{user_mobile}}" name="txtmobile" ></td>
			</tr>
			<tr>
				<th>Address</th>
				<td>:</td>
				<td><input class="form-control" type="text" placeholder="{{user_add}}" value="{{user_add}}" name="txtaddress"  ></td>
			</tr>
			<tr>
				<th>Password</th>
				<td>:</td>
				<td><input class="form-control" type="password" id="password" name="txtpassword" placeholder="Password" ></td>
			</tr>
			<tr>
				<th>Profile Image</th>
				<td>:</td>
				<td>
					<a href="/{{pic}}" target="_blank">{{pic}}</a>
					<input class="form-control" type="file" name="profile_image"  ></td>
			</tr>
			
			<tr>
				<th>
					<!-- <input class=" btn btn-success"  style="width:100%;" type="submit" name="" value="Boook" > -->

					<!-- <input class=" btn btn-primary" style="width:100%;"type="button" id="sub" onclick="validate();" value="Submit" > -->
					<input class=" btn btn-success" type="submit" id="submit" value="Update Profile"style="width:100%;">			
				</th>
				<td> </td>
				<td><input class="form-control btn-danger" type="button" name="" value="cancel" ></td>
			</tr>

	


</table>
	<br>
</center></div>
</section>



			{%endfor%}		
			
			</form>


</form>

{% endblock %}